#container1{
    width: 100%;
}

div.botoes{
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

div.titulo{
    text-align: center;
}

.atributosColacao{
    height: 30px;
    width: 5px;
    margin-left: 10px;
}

.criar{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 0;
    display: inline-block;
    background-color: rgb(51,122,183);
    border-color: rgb(46,109,164);
    color: white;
}

.criar:hover{
    background-color: limegreen;
}

.cancelar{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 0;
    display: inline-block;
    background-color: red;
    color: white;
}

.fonte{
    font-size: 25px;
    margin-left: 10px;
}

#nome{
    width: 96%;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#descricao{
    width: 96%;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#senha_col{
    width: 96%;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto; 
    border: 1px solid #888;
    width: 50%;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
     display: block;
     float: none;
 }
